body{
    background: linear-gradient(#080808, #161619);
    
}

.center-content{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title, .subtitle{
    display: block;
    color: white;
    font-family: Major Mono Display;
}

.jogar{
    font-family: Major Mono Display;
    font-size: 2.5rem;
    width: 60%;
}

.username{
    font-family: Chewy;
}

.title{
    display: block;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 15px;
}

.subtitle{
    display: block;
    font-size: 1.5 rem;
    text-align: center
}


